* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
}

h1 {
	font-size: 1.75em;
	padding: 32px 0px;
	font-weight: bold;
}

.name, .description {
	padding: 10px;
}

.item {
	position: relative;
	float: left;
}

.item-container {
	margin: 10px 10px 20px;
	background-color: hsl(161, 100%, 89%);
	margin-right: 0px;
}

.item-container:first-child {
	margin-left: 0px;
}

.name {
	font-weight: bold;
	text-align: center;
	font-size: 1.25em;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#nav-list li {
	border: 1px solid black;
	width: 100%;
	text-align: center;
	padding: 5px;
}