.sushi {
	display: float;
}


/********** Large devices only **********/
@media (min-width: 992px) {
	.sushi {
		width: 33.33%;
	}
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .sushi {
		width: 50%;
	}
}

